# Created by .ignore support plugin (hsz.mobi)
/.idea/*
/ch12/ch12.iml
/ch12/some/some.iml
/ch12/person/person.iml
/ch12/discovery/discovery.iml
/ch12/config/config.iml
/ch12/config/target/
/ch12/discovery/target/
/ch12/monitor/monitor.iml
/ch12/monitor/target/
/ch12/person/target/
/ch12/some/target/
/ch12/ui/ui.iml
/ch12/ui/target/
ch10/ch10.iml
ch10_4/ch10_4.iml
ch10docker/ch10docker.iml
ch10war/ch10war.iml
ch11_1/ch11_1.iml
ch11_3/ch11_3.iml
ch5_2_2/ch5_2_2.iml
ch5_2_2/target/
ch5_2_3/ch5_2_3.iml
ch6_2_3/ch6_2_3.iml
ch6_5/ch6_5.iml
ch6_5/target/
ch7_2/ch7_2.iml
ch7_2/target/
ch7_4/ch7_4.iml
ch7_6/ch7_6.iml
ch7_6/target/
ch7_7/ch7_7.iml
ch8_2/ch8_2.iml
ch8_2/target/
ch8_3/ch8_3.iml
ch8_3/target/
ch8_4/ch8_4.iml
ch8_5/ch8_5.iml
ch8_5/target/
ch8_6_1/ch8_6_1.iml
ch8_6_2/ch8_6_2.iml
ch8_6_2/target/
ch9_1/ch9_1.iml
ch9_2/ch9_2.iml
ch9_3_4/ch9_3_4.iml
ch9_4/ch9_4.iml
highlight_spring4/highlight_spring4.iml
highlight_springmvc4/highlight_springmvc4.iml
springbootstarterhello/springbootstarterhello.iml
springbootstarterhello/src/main/java/com/xuexuan/App.java
springbootstarterhello/src/test/
springbootstarterhello/target/
/ch9_3_5/ch9_3_5.iml
/ch8_6_2/target/
/ch8_5/target/
/ch5_2_2/target/
